<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Smokin' 45s Rock and Blues Revue" />
	<title>The Smokin' 45 Rock and Blues Revue</title>
	<link href="smokin45s.css" target="text\css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400" rel="stylesheet" type="text/css">
	<link href="./menu-horizontal.css" rel="stylesheet" type="text/css" />

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'S45-shows', 'auto');
    ga('send', 'pageview');
    </script>

	<script type="text/javascript" src="utility.js"></script>
</head>
<body class="base_page" background="images/background.jpg" link="white" vlink="white" alink="cyan">
	<div class="menu5">
    <a href=index.html>Home</a>
    <a href=bio.html>Bio</a>
    <a href=highlights2012.html target="new">Highlights</a>
    <a href=shows.html>Shows</a>
    <a href=pictures.html target="new">Videos/Pics</a>
	</div>
	<div class="base_page">
	<table>
		<tr valign="top">
		<td>
		<table>
			<tr class="navigation" valign=top>
			<td width=15% valign=top align=center>
			<!--# include file="navilinks.inc" virtual="navilinks.inc" -->
			<!-- top of include -->
			<img src="images/RetroLogoNoDancers.jpg" alt="The Smokin' 45s" width="70%" vspace="30" align="top"></img>
			</td>
			</tr>
			<tr class="navigation" valign=top>
			<td width=15% valign=top align=center>
			<a href="http://www.facebook.com/pages/The-Smokin-45s-Rock-and-Blues-Revue/78129180442" target="new"><img src="images/facebook_logo.jpg" border="0" width="70%"></a>
			</td>
			</tr>
			<tr class="navigation" valign=top>
			<td width=15% valign=top align=center>
			<a href="http://www.cdbaby.com/Artist/TheSmokin45s" target="new">Get Smokin' 45s Music</a>
			</td>
			</tr>
			<tr class="navigation" valign=top>
			<td width=15% valign=top align=center>
			<a href="http://www.cdbaby.com/cd/thesmokin45s" target="new"><img src="http://images.cdbaby.name/t/h/thesmokin45s_small.jpg" width="70%"></a>	
			</td>
			</tr>
			<tr class="navigation" valign=top>
			<td width=15% valign=top align=center>
			<a href="http://www.cdbaby.com/cd/smokin45s" target="new"><img src="http://images.cdbaby.name/s/m/smokin45s_small.jpg" width="70%"></a>
			</td>
			</tr>
		</table>	
		</td>	
		<td width="80%" align="center">
		<H2 class="title_text">Upcoming shows</H2>
		<table border="1" bordercolor="#808080" align="center">
        	<tbody>
        		<tr>
        			<th bordercolor="#808080" nowrap="nowrap" valign="top" width=5%>
        				<blockquote>
        				<p align="center" class="table_header">
         				<strong>Date</strong>
         				</p>
        				</blockquote>
        			</th>

        			<th bordercolor="#808080" align="left" width=95%>
        				<blockquote>
        				<p class="table_header">
        				<strong>Venue</strong>
        				</p>
        				</blockquote>
        			</th>
        		</tr>
			{% block content %}{% endblock %}
	</td>
</tr>
<tr>

<td width=15%></td>
<td width=80%>

	<p class="footer"><em>For more info, contact
	info@smokin45s.com</em></p>
	<p class="footer"><em>
	<a  href=https://www.facebook.com/thesmokin45s target="_new"> <img src="/images/facebook.jpg" alt="Facebook" width="25%"></a>
	</em>
	</p>


</td>
</tr>
</table>

</div>
</body>
</html>


